* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
    cursor: pointer;
  }
  
  body {
    font-family: Verdana, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
    width: 100%;
  
  
  }
  
  
  .header {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
  }
  
  .sticky {
    position: fixed;
  
    top: 0;
    width: 100%;
    z-index: 10;
  
  
    box-shadow: 0 8px 6px -6px #eee;
  
  }
  
  .header div ul {
  
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .categories {
    margin-left: 80px;
  
    width: 33%;
  
    margin-right: 20%;
  }
  
  .dropdown-content1:hover {
    border-bottom: 5px solid rgb(6, 47, 109);
  }
  
  .dropdown-content2:hover {
    border-bottom: 5px solid rgb(238, 0, 119);
  }
  
  .dropdown-content3:hover {
    border-bottom: 5px solid orangered;
  }
  
  .dropdown-content4:hover {
    border-bottom: 5px solid gold;
  }
  
  .dropdown-content5:hover {
    border-bottom: 5px solid peachpuff;
  }
  
  
  
  
  
  
  .header div ul li a {
  
    padding: 28px 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #282c3f;
    -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
    transition: left 0.2s ease-out, width 0.2s ease-out;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .header div ul:hover {
    border-bottom: #282c3f;
  }
  
  
  .header div img {
    width: 51px;
    margin-left: 60px;
  }
  
  .search-div {
  
    display: flex;
    width: 100%;
    background-color: #eee;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-right: 7%;
    border-radius: 3px;
  }
  
  #searchpng {
  
    width: 15px;
    margin: 15px;
    opacity: 0.5;
  }
  
  .search-div input {
  
    width: 70%;
    border: none;
    margin-left: 2%;
    background-color: #eee;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .nav-last {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
    margin-right: 90px;
  }
  
  .nav-last>div {
  
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    padding-top: 5px;
    margin-left: 15px;
  }
  
  #svg {
    height: 15px;
    margin-left: 0px;
  }

  .logo>a>img {
    width: 150%;
    margin-right: 90%;
  }


  /* product */
  body {
    margin: auto;
    overflow-x: hidden;
    margin: auto; 
    background-color: rgb(246, 243, 243);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(254, 146, 187);
}
   /* ----------------------mid-section-------------------------- */

   body {
    /* border: 1px solid; */
    margin: auto;
    overflow-x: hidden;
    margin: auto; 
    background-color: rgb(246, 243, 243);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(254, 146, 187);
}
  
  
  
   #middle-product-flexible {
    background-color: rgb(249, 146, 146);
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

#middle-product-flexible>h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    padding-left: 20%;
    position: relative;
}

#cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    
}


#cards-functionality-buttons {
    width: 30%;
    height: 500px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 25vh;

}

#sorting-options {
    
    padding: 5%;
    font-size: large;
    width: 100%;
    border-radius: 5px;
    border: 0px;

}

#sorting-options:focus {
    outline: none;
}

#sorting-options>option {
    font-weight: 100;
    font: lighter;
}

.filter-options {
    padding: 5%;
    font-size: large;
    width: 100%;
    border-radius: 5px;
    border: 0px;
   
}

.filter-options:focus {
    outline: none;
}

#filtering-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#product-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;

}

#product-cards>div {
    background-color:rgb(243, 235, 236);
    padding: 2%;
    font: caption;
    text-align: center;
}

#product-cards img {
  margin-top: 20px;
    width: 60%
}

h2
 {
    color: rgb(238, 47, 47);
    text-align: left;
    padding-left: 6%;

}
#btn{
  padding: 7px;


}
/* -------------------------------------------------------------Responsive------------------------------------------------------------- */
    @media screen and (max-width:1080px){
        #product-cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        #cards-functionality-buttons {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 50%;
            height: 100px;
        }
        #cards-functionality-buttons {
            position: sticky;
            top :5%
        
        }
        .cart_product img{
            width: 250px;
            height: 200px;
        }
        .cart_product{
            width: 100%;
            height: 450px;
        }
        .cart_product p{
            line-height: 15px;
        }
    }


    .modals{
      margin-left: 300px;
      margin-top: 30px;
      position: absolute;
      display: none;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid #e40046;
    background-color: #e40046;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .container {
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }
  
  .overlay {
    background:orange           ;
    background: -webkit-linear-gradient(to right, #f41cb2,orange);
    background: linear-gradient(to right,#f41cb2,orange);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
      transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay {
      transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  #closemodal{
      cursor:pointer;
  }
  
  .showmodal{
      display: flex;
  }
    