* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  cursor: pointer;
}

body {
  font-family: Verdana, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
  width: 100%;
}

.header {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: white;
}

.sticky {
  position: fixed;

  top: 0;
  width: 100%;
  z-index: 10;

  box-shadow: 0 8px 6px -6px #eee;
}

.header div ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.categories {
  margin-left: 80px;

  width: 33%;

  margin-right: 20%;
}

.dropdown-content1:hover {
  border-bottom: 5px solid rgb(6, 47, 109);
}

.dropdown-content2:hover {
  border-bottom: 5px solid rgb(238, 0, 119);
}

.dropdown-content3:hover {
  border-bottom: 5px solid orangered;
}

.dropdown-content4:hover {
  border-bottom: 5px solid gold;
}

.dropdown-content5:hover {
  border-bottom: 5px solid peachpuff;
}

.header div ul li a {
  padding: 28px 17px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  -webkit-transition: left 0.2s ease-out, width 0.2s ease-out;
  transition: left 0.2s ease-out, width 0.2s ease-out;
  font-weight: 600;
  text-transform: uppercase;
}

.header div ul:hover {
  border-bottom: #282c3f;
}

.header div img {
  width: 51px;
  margin-left: 60px;
}

.search-div {
  display: flex;

  width: 100%;

  background-color: #eee;

  height: 40px;

  align-items: center;

  justify-content: flex-start;

  margin-right: 7%;

  border-radius: 3px;

  padding: 20px;
}

#searchpng {
  width: 15px;
  margin: 15px;
  opacity: 0.5;
}

.search-div input {
  width: 70%;

  border: none;

  margin: 2% auto;

  background-color: #eee;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.nav-last {
  padding: 0 12px 0 17px;
  position: relative;
  display: flex;
  height: 40px;
  margin-right: 90px;
}

.nav-last > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  padding-top: 5px;
  margin-left: 15px;
}

#svg {
  height: 15px;
  margin-left: 0px;
}

.container-section1 img {
  margin-top: 70px;
  width: 95%;
}

.logo > a > img {
  width: 150%;
  margin-right: 90%;
}
.image-first-line {
  /* margin: auto; */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  margin-left: 50px;
}

.image-second-line {
  /* margin: auto; */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  margin-left: 50px;
}

.image-first-line img {
  width: 100%;
}

.image-second-line img {
  width: 100%;
}

#mid-three img {
  width: 90%;
}

.image-five img {
  width: 90%;
}

.shop-image img {
  width: 90%;
}

.shop-images-bottom-one {
  width: 90%;
}
#shop-categories-bottom-images-one img {
  width: 15%;
}
#shop-categories-bottom-images-two img {
  width: 15%;
}

#shop-categories-bottom-images-three img {
  width: 15%;
}

#shop-categories-bottom-images-four img {
  width: 15%;
}

#shop-categories-bottom-images-five img {
  width: 15%;
}
#mid-five-long-image img {
  width: 90%;
}

.image-six img {
  width: 90%;
}
.mid-six-one-line img {
  width: 12%;
}

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container {
  max-width: 75%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  list-style: none;
}

.footer {
  padding: 70px 0;

  background-color: #eee;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #777777;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #000000;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(134, 134, 134, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #24262b;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #000000;
}

.footer img {
  width: 60%;
  margin-bottom: 20px;
}

.footer-promise {
  display: flex;
  margin-bottom: 30px;
}

.footer-promise img {
  width: 25%;
  height: 25%;
  margin-right: 15px;
}
p {
  color: grey;
}

/*responsive*/

@media (max-width: 1024px) {
 
  
  .image-first-line {
    margin: 0;
  grid-template-columns: repeat(5, 1fr);
}

}

@media (max-width: 467px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .image-first-line  {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 367px) {
  .footer-col {
    width: 100%;
  }
  .image-first-line  {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* dropdown */

.fa-bars{
  display: block;
  z-index: 1000;
  font-size: 3rem;
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* slider */
.swiper-wrapper{
  margin-top: 50px;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

/* dropdownnn */

